<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.1" targetFramework="net46" />
  <package id="jose-jwt" version="1.9.3" targetFramework="net46" />
  <package id="MiNET.fnbt" version="0.6.5" targetFramework="net461" />
  <package id="Moq" version="4.2.1502.0911" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
</packages>