<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PopupMessageInverval" value="20000" />
    <add key="ChatMessageInverval" value="20000" />
    <add key="PopupMessage" value="This is an automated popup message." />
    <add key="ChatMessage" value="This is an automated chat message." />
    <add key="DistanceFromSpawnInBlocks" value="15" />
  </appSettings>
</configuration>